
*{
  margin:0;
  padding: 0;
}
#botoncitos{
  margin-left:600px;
  margin-top: 50px;
}
header{
  height:60px;
}
h1{
  text-align: center;
  background-color:#04B404;
  font-family: 'Cedarville Cursive', cursive;
  color:#FFFFFF;
}

#basketball{
  width: 1000px;
  height: 600px;
  background-color:#D2B48C;
  position:relative;
  margin-left: 160px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #FFFFFF;
  display: none;

}

.linea{
  width: 0px;
  height: 600px;
  border: 2px solid #555;
  position:absolute;
  margin-left: 530px;
}
.semiCirculo{
  width: 200px;
  height: 400px;
  border: 3px dashed #555;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 200px 200px 0;
  position: absolute;
  margin-top: 100px;
   }
.semiCirculoDer{
  transform: rotate(180deg);
  margin-left: 793px;
}
.circulo {
     width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 3px solid #555;
     position: absolute;
     margin-left:430px;
    margin-top: 200px;
}
.circuloChiquito{
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #555;
  position: absolute;
  margin-left: 69px;
  margin-top: 250px;
}
.circuloChiquitoDer{
 margin-left: 803px;
}
.lineaInclinada{
  width: 0px;
    height: 125px;
    border: 1px solid #555;
    position: absolute;
    margin-left: 63px;
    transform: rotate(110deg);
    margin-top: 165px;
}
.linea2inclinada{
  height: 129px;
  transform: rotate(68deg);
  margin-top: 312px;
}
.lineaCirculo{
  width: 0px;
  height: 100px;
  border: 1px solid #555;
  position:absolute;
  margin-left:120px;
  margin-top: 252px;
}
.lineaCirculoDer{
  margin-left:856px;

}

.lineaInclinadaDer{
  margin-left: 924px;
  margin-top: 303px;
  height: 152px;
}
.linea2inclinadaDer{
  transform: rotate(66deg);
    margin-left: 927px;
    margin-top: 145px;
    height: 150px;
}
.balonBasket{
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #555;
  position: absolute;
  margin-left:315px;
 margin-top: 278px;
 background-color:#FE9A2E;
}
